
:root {
    --primary-color: #eebf4c;
    --secundary-color: #6b5d3f;
    --tertiary-color: #496547;
    --neutral-color: #969088;
    --error-color: #ba1a1a;
    --success-color: #5fb563;
    --background-color: #fffbff;
    --outline-color: #7f7667;
  }


body{
    padding: 0;
    margin: 0;
    background-color: rgb(238, 240, 243);
}